.navbarScroll.navbarDark {
    background-color: black;
}

@keyframes slideIn {
    from {
        background-position: 0 0;
    }
    to {
        background-position: center;
    }
}
.bgimage {
    height:100vh;
    background: url('images/bg.png');
    background-size:cover;
    position:relative;
    animation: slideIn 10s linear infinite;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero_title {
    font-size: 4.5rem;
}
.hero_title:hover {
    transform: scale(1.05); /* Slightly enlarges the text */
    transition: transform 0.3s ease-in-out; /* Smooth transition effect */
}
@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
.gradient-text {
    background: linear-gradient(90deg, #FF008C, #FF7B00, #FF008C); /* Gradient colors */
    -webkit-background-clip: text; /* Clip background to text for Chrome/Safari */
    -webkit-text-fill-color: transparent; /* Make text color transparent for Chrome/Safari */
    background-clip: text; /* Standard syntax */
    color: transparent; /* Fallback color for other browsers */
    background-size: 200% auto;
    opacity: 0;
    animation: fadeIn 4s forwards, gradientMove 5s infinite;
}
.hero_desc {
    font-size: 2rem;
}


.navbar-brand:hover{
    background: linear-gradient(90deg, #FF008C, #FF7B00); /* Gradient colors */
    -webkit-background-clip: text; /* Clip background to text for Chrome/Safari */
    -webkit-text-fill-color: transparent; /* Make text color transparent for Chrome/Safari */
    background-clip: text; /* Standard syntax */
    color: transparent; /* Fallback color for other browsers */
    font-weight: 600;
}



#contact {
    padding-bottom: 4rem;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {   
    text-align: center;
}
.card.portfolioContent{
    border: 1px solid #3f3f3f;
}

.card.portfolioContent:hover {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.servicesText:hover {
    border: 1px solid #000000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-envelope:hover,.fa-instagram:hover,.fa-linkedin:hover,.fa-medium:hover{
    background: linear-gradient(90deg, #FF008C, #FF7B00); /* Gradient colors */
    -webkit-background-clip: text; /* Clip background to text for Chrome/Safari */
    -webkit-text-fill-color: transparent; /* Make text color transparent for Chrome/Safari */
    background-clip: text; /* Standard syntax */
    color: transparent; /* Fallback color for other browsers */
}
.fab, .fa{
        color: #ffffff;
}
/* footer styling */
#footer {
    background-color: #000000;
    text-align: center;
}
